{
  "semi": true,
  "trailingComma": "es5",
  "singleQuote": true,
  "printWidth": 80,
  "tabWidth": 2,
  "parser": "flow",
  "arrowParens": "always",
  "endOfLine": "auto",
  "overrides": [
    {
      "files": ".eslintrc",
      "options": { "parser": "json" }
    }
  ],
  "extends": ["airbnb-base", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "no-console": "off"
  }
}
